*
{
    margin :0px;
    padding:0px;
}
.all{
 
    width: 90%;
   margin-left: 170px;
    margin-top: 90px;

    }
 
.p1, .p2{
	display:inline-block; 
    background-color: #D7D7D7;
    padding: 20px;
    width: 490px;
    height: 300px;


    }
    .p1_noir,.p2_noir{
    display:inline-block; 
    background-color: black;
    color: #EBEBEB;
    padding: 20px;
    width: 490px;
    height: 280px;
    margin-top: 5px;
    margin-bottom:5px;
    }
h1 {
    font-family:  ''geo sans ligth',', serif;
    text-align: justify;
    font-size: 2em;ds
}
p{
	font-family:'Ropa Sans', sans-serif;
	text-align: justify;
}

.p:hover{
	border: solid 5px black; 
    transition: all .7s;
    padding: 15px;
     
}
#photo{
    height: 350px;
    width: 100%;
    padding: 10px;
    background-image: url(https://images.unsplash.com/photo-1532972190883-11c46c01030b?ixlib=rb-0.3.5…gb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9&s=e301c9d…);
    margin-bottom: 70px;
    background-size: cover;
    
     } 
    #title{
    font-family: Comic Sans MS  , serif;
    position: relative;
    color: white;
    font-weight: bold;
   font-size: 6em;
   margin-top: 150px;
   text-shadow: 55px 50px 54px rgba(10, 10, 10, .55);
    }

   
 .a {
   font-family: Comic Sans MS , serif;
   margin-right: 50px;
   margin-bottom: 100px;
   font-size: 4em;
   font-weight: bold;
   color:#003366 ;
   box-shadow:7px,7px,grey; 
   margin: 30px 0 40px 30px;
   text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
  
    }

 
   
   
   

 